body {
    height:100%;
}

#bg { 
    background-image: url("music1.jpg");
    height: 100%; 
    background-position: 25% 15%;
    background-size: cover;
}
#title {
	color: orange;
}
.admin { 
	color: white;
	font-family: Helvetica;